# OpenWeatherMap
OWM_API_KEY=your_api_key_here
OWM_CITY=Istanbul

# PostgreSQL
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=de_scheduling
POSTGRES_USER=de_user
POSTGRES_PASSWORD=de_password

# Redis (Celery Beat ve sonrası için)
REDIS_HOST=localhost
REDIS_PORT=6379
